<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="styles/jinja.css" rel="stylesheet">
<style>
    .tag {
        width: {{ tag_width }}cm;
        height: {{ tag_height }}cm;
    }
</style>
</head>
<body style="margin: 0;">
    {% for page in pages %}
    <div class="page">
        {% for competitor in page %}
        <div class="tag front-tag competitor {{ competitor.role }}" style="display: unset; position: relative">
            <span class="competitor-id"> {{ competitor.id }}</span>
            <div class="ft-details">
                    <div class="name-emoji">
                        {% if competitor.name|length > 30 %}
                        <span class="ft-name" style="font-size: 0.45cm;">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                        {% elif competitor.name|length > 20 %}
                        <span class="ft-name" style="font-size: 0.5cm">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                        {% else %}
                        <span class="ft-name">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                        {% endif %}
                        <span class="ft-emoji">{{ competitor.exp_emoji }} {{ competitor.cid_emoji }} {{ competitor.pep_emoji }}</span>
                    </div>
                    <img class="flag" src="graphics/flags/{{ competitor.iso2 }}.png">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="page" style="flex-direction: row-reverse;">
        {% for competitor in page %}
        <div class="tag competitor {{ competitor.role }} back-tag">
            <div class="events-overview" >
                {% for event, (start, end) in event_r1_times.items() %}
                <div class="event-box event-{{ event }} {% if event not in competitor.event_assignments %} event-inactive {% endif %}">
                    <span> {{ start.strftime('%a %H:%M') }}</span> 
                    <div class="assignment">
                        <img src="graphics/svgs/{{ event }}.svg">
                        {% if competitor.event_comp_r1_assignments[event] %}
                        <span class="{{ competitor.event_comp_r1_assignments[event].room_name }}">
                            {{ competitor.event_comp_r1_assignments[event].group }}
                        </span>
                        {% endif %}
                    </div>
                    <div class="help-assignments">
                    {% for assignment in competitor.event_help_r1_assignments[event] %}
                        <span class="{{ assignment.room_name }}">
                            {{ assignment.role.upper()[0] }}{{ assignment.group }}
                        </span>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="person-details">
                <div class="event-box" style="width: 100%; border: 0.02cm solid black; border-radius: 0.1cm; box-sizing: border-box; padding: 0.05cm; gap: 0.15cm; justify-content: center;">
                    {% if competitor.name|length > 30 %}
                    <span class="bt-name" style="font-size: 0.2cm;">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                    {% elif competitor.name|length > 20 %}
                    <span class="bt-name" style="font-size: 0.22cm">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                    {% else %}
                    <span class="bt-name" style="font-size: 0.25cm;">{{ competitor.firstname }} <br> {{ competitor.lastname }}</span>
                    {% endif %}
                    <img  class="small-flag" src="graphics/flags/{{ competitor.iso2 }}.png">
                    <span># {{ competitor.id }}</span>
                </div>
                <img src="{{ competitor.qr }}" style="width: 100%; padding: 0.05cm;">
                <div style="font-size: 0.25cm; flex-wrap: wrap; gap: 0.05cm; display: grid; grid-template-columns: 1fr 2fr 6fr;">
                    <span>J</span><span>:</span> <span style="text-align: end;">Judge</span>
                    <span>R</span><span>:</span> <span style="text-align: end;">Runner</span>
                    <span>S</span><span>:</span> <span style="text-align: end;">Scrambler</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</body>
</html>